[include]
  path = ~/.gitconfig.user
[core]
  precomposeunicode = true
  quotepath = false
[alias]
  st = status
  co = checkout
  ca = commit -a
  ps = push
  unstage = reset HEAD
  lg = log --stat --graph --decorate=full
  pl = pull
[color]
  ui = auto
[gpg]
  program = gpg
[commit]
  gpgsign = true
[push]
  default = simple
[pull]
  rebase = true
[merge]
  ff = only
  conflictstyle = diff3
[diff]
  colorMoved = default
[ghq]
  root = ~/src
[url "git@github.com:"]
  insteadOf = https://github.com/
[filter "lfs"]
  required = true
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
[include]
  path = ~/.gitconfig.local
