[include]
  path = ~/.gitconfig.user
[core]
  precomposeunicode = true
  quotepath = false
[alias]
  st = status
  co = checkout
  ca = commit -a
  ps = push
  unstage = reset HEAD
  lg = log --stat --graph --decorate=full
  pl = pull
[color]
  ui = auto
[gpg]
  program = gpg
[commit]
  gpgsign = true
[push]
  default = simple
  autoSetupRemote = true
[pull]
  rebase = true
[merge]
  ff = only
  conflictstyle = zdiff3
[rerere]
  enabled = true
  autoupdate = true
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[ghq]
  root = ~/src
[url "git@github.com:"]
  insteadOf = https://github.com/
[filter "lfs"]
  required = true
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
[include]
  path = ~/.gitconfig.local
